/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/examples.txt
/tmp/
*.gem
.DS_Store
.rspec_status
/Gemfile.lock
/spec/dummy/log/
/spec/dummy/tmp/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/storage/
